{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ student.surname }} {{ student.name }}{% endblock title %}


{% block students_is_active %}active{% endblock students_is_active %}


{% block carousel %}{% endblock carousel %}


{% block content %}
	<div class="container students">
    <div class="page-header">
      <h1 class="top1">{{ student.surname }} {{ student.name }}</h1>
			<div class="jumbotron">
        <h2 class="dolgnosti">О cтуденте:</h2>
				<div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- Table -->
        	<table class="table">
            <tbody>
              <tr>
                <td>Дата рождения</td><td>{{ student.date_of_birth|date:"d F, Y" }}</td>
							</tr>
							<tr>
								<td>Адрес</td><td>{{ student.address }}</td>
							</tr>
							<tr>
								<td>Почта</td><td>{{ student.email }}</td>
							</tr>
							<tr>
								<td>Skype</td><td>{{ student.skype }}</td>
							</tr>
							<tr>
								<td>Телефон</td><td>{{ student.phone }}</td>
							</tr>
							<tr>
								<td>Курсы</td><td>{% for student in student.courses.all %}
								<a href="{% url 'courses:detail' student.id %}">{{ student.name }}</a><br>
								{% endfor %}
								</td>
							</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>   
{% endblock content %}
