{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Remove{% endblock title %}


{% block students_is_active %}active{% endblock students_is_active %}


{% block carousel %}{% endblock carousel %}


{% block content %}
	<div class="container students">
  	<div class="page-header">
      <h1 class="descr">Студент {{ full_name }} будет удален</h1>
			<div class="jumbotron">
				{{ title }}
        <h4>Вы действительно хотите удалить студента {{ full_name }}?</h4>
				<form method="post">
					{% csrf_token %}
					<input type="submit" value="Да, удалить" class="btn btn-primary"/>
          <a class="btn btn-primary" href="{% url 'students:list_view' %}" role="button">Нет</a>
				</form>
      </div>
    </div>
  </div>
{% endblock content %}
