{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Students{% endblock title %}


{% block students_is_active %}active{% endblock students_is_active %}


{% block carousel %}{% endblock carousel %}


{% block content %}
	<div class="container students">
		<div class="page-header">
			<h1 class="descr">Список всех студентов</h1>
			<div class="jumbotron">
        {% include "students/include/messages_include.html" %}
				<p>
					<a class="btn btn-primary btn-lg" href="{% url 'students:add' %}" role="button"><span class="glyphicon glyphicon-plus"></span> Добавить нового студента</a>
				</p>
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<!-- Table -->
					<table class="table table-striped">
            <thead>
							<tr>
								<th>#</th>
		            <th>Фамилия и имя</th>
		            <th>Адрес</th>
								<th>Skype</th>
								<th colspan="2">Курсы</th>
              </tr>
            </thead>
            <tbody>
							{% for student in student_list %}
              <tr>
              	<td>{{ student.id }}</td>
								<td>
								<a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a>
								</td>
								<td>{{ student.address }}</td>
								<td>{{ student.skype }}</td>
								<td>{% for course in student.courses.all %}
								<a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>
								{% endfor %}
								</td>
                <td>
                  <p><a class="btn btn-primary btn-block" href="{% url 'students:edit' student.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span> Изменить</a></p>
                  <p><a class="btn btn-primary btn-block" href="{% url 'students:remove' student.id %}" role="button"><span class="glyphicon glyphicon-remove"></span> Удалить</a></p>
                </td>
							</tr>
							{% endfor %}
            </tbody>
          </table>
					{{ get_queryset }}
        </div>
				<nav>
					<ul class="pagination">
						<li>
							{% if page_obj.has_previous %}
							<a href="?{% if course_id != None %}course_id={{ course_id }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true"><< previous</span></a>
							{% endif %}
						</li>
						{% for page in paginator.page_range %}

						{% if page == page_obj.number %}
						<li class="active">
							<a href="">{{ page }}<span class="sr-only"></span></a>
						</li>
						{% else %}
						<li>
							<a href="?{% if course_id != None %}course_id={{ course_id }}&{% endif %}page={{ page }}">{{ page }}<span class="sr-only"></span></a>
						</li>
						{% endif %}

						{% endfor %}
						<li>
							{% if page_obj.has_next %}
							<a href="?{% if course_id != None %}course_id={{ course_id }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">
								<span aria-hidden="true">next >></span></a>
							{% endif %}
						</li>
					</ul>
				</nav>
      </div>
    </div>
	</div>
{% endblock content %}
