.navbar-brand {
    background-image: url("../images/py_logo2.png");
  	width: 50px;
		
}
.navbar-header {
    padding: 0 30px 0 30px;
}
.col-md-4{
	text-align: center;
	padding-bottom: 20px;
	
}
.row {
  margin-right: -60px;
  margin-left: -60px;
}
.col-md-4 p{
  text-align: left;
	font-size: 14pt;
}
.navbar{
  margin-top: 20px;
	
}
.deviz{
	color: #3b5998;
	padding-right: 5px;
	padding-top: 3px;
	text-align: right;
	font-weight: bold;
	font-size: 14pt;
}
.descr, .conts{
	text-align: center;
	font-weight: bold;
  
}

.py{
	font-weight: bold;
	/*color: #3b5998;*/
	font-style: italic;
}
.dolgnosti{
	font-weight: bold;
	color: #3b5998;

}
.top_bar{
	font-weight: bold;
	font-size: 14pt;
	font-family: Italiac;
}
.spa{
	font-weight: bold;
	margin-left: 30px;
	font-size: 18pt;
}
.students{
  font-weight: bold;
	padding-top: 80px;
}

.top1{
  font-weight: bold;
	text-align: left;
}
.about_me{
  font-weight: bold;
	text-align: left;
	margin-right: 45px;
  margin-left: 45px;
}
.good_job{
	color: green;
}

.my_list{
	font-size: 14pt;
}

.coach_img{
	padding-bottom: 20px;
}

.background_body{
    /*background-image: url();
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;*/
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background_404{
    /*background-image: url();
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;*/
  background: url("../images/404.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background_500{
    /*background-image: url();
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;*/
  background: url("../images/500.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* TABLE
-------------------------------------------------- */
.table thead, .t_head{
	background-color: #3b5998;
	color: white;
	font-weight: bold;
	font-size: 14pt;
}

.numbers{
	font-size: 18pt;
	text-align:center;
	vertical-align:middle;
	
}
.my_table tbody tr td{
	vertical-align:middle;
	
}
/*.my_table{
	text-align:center;
	border:#bdbdbd 1px solid;
	border-collapse:collapse;
	width: 100%;
  max-width: 100%;
	margin: auto;
}
*/

table tbody tr th{
	border:#bdbdbd 1px solid;
	vertical-align:middle;
	font-weight: bold;
	font-size: 14pt;
	text-align:center;
	/*
	
	
	border-collapse:collapse;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	
	*/
}

table tbody tr td{
	vertical-align:middle;
	border:#bdbdbd 1px solid;
	font-weight: bold;
	font-size: 12pt;
	/*
	border-collapse:collapse;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 40px;
	padding-left: 25px;
	text-align:left;
	
	*/
}
/*
.my_table tr td:first-child{
	padding-right: 15px;
	padding-left: 15px;
}
.my_table tr:nth-child(2n) {
    background: #e2e2e2; /* Цвет фона 
   } 
*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*height: 600px;*/
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 600px;*/
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 600px;*/
}

@media (min-width: 768px) {
  .carousel, .carousel .item, .carousel-inner > .item > img{
    height: 500px;
  }
}
@media (min-width: 992px) {
  .carousel, .carousel .item, .carousel-inner > .item > img {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .carousel, .carousel .item, .carousel-inner > .item > img {
    height: 900px;
  }
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
