{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Contacts{% endblock title %}


{% block contact_is_active %}active{% endblock contact_is_active %}


{% block body_class %}{% endblock body_class %}


{% block content %}
	<div class="container">
		<div class="page-header">
			<h1 class="conts">Contacts</h1>
			<div class="jumbotron">
				<div class="row">

			    {% include "include/contact_include.html" with block_image="images/dir.png" block_title="Director:" block_name="Svidetel" block_skype="svidetel" block_email="svidetel@gmail.com" block_phone="8-800-555-35-35"%}
          
          {% include "include/contact_include.html" with block_image="images/brian.png" block_title="Manager:" block_name="Brian" block_skype="brian" block_email="brian@gmail.com" block_phone="8-800-555-35-35"%}

          {% include "include/contact_include.html" with block_image="images/mad_fox.png" block_title="Founder:" block_name="Mad Fox" block_skype="mad_fox" block_email="madfox@gmail.com" block_phone="8-800-555-35-35"%}
					
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block next %}{% endblock next %}
