<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Students</title>
	{% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="top_bar" href="{% url 'index' %}">Main</a></li>
            <li><a class="top_bar" href="{% url 'contact' %}">Contacts</a></li>
            <li class="active"><a class="top_bar" href="{% url 'student_list' %}">Students</a></li>
          </ul>
        </div>
        </nav>
      </div>
      
    </div>

     
    
    <div class="container students">
      <div class="page-header">
        <h1 class="descr">Студенты кypca PyBursa</h1>
        <div class="jumbotron">
		<div class="panel panel-default">
          <table class="table my_table">
        <tbody>
        <tr class="t_head">
          <th>
            No
          </th>
          <th>
            Surname
          </th>
          <th>
            Name
          </th>
          <th>
            Address
          </th>
          <th>
            Skype
          </th>
        </tr>
        <tr>
          <td class="numbers">
            <a href="{% url 'student_detail' %}">1</a>
          </td>
          <td>
            Дидиченко
          </td>
          <td>
            Варвара
          </td>
          <td>
            ул. Авиаконструктора Сухого, д. 22, кв. 187
          </td>
          <td>
            DidichenkoVarvara
          </td>
        </tr>
        <tr>
          <td class="numbers">
            2
          </td>
          <td>
            Андронова
          </td>
          <td>
            Сусанна
          </td>
          <td>
            ул. Байдукова, д. 72, кв. 127
          </td>
          <td>
            AndronovaSusanna
          </td>
        </tr>
        <tr>
          <td class="numbers">
            3
          </td>
          <td>
            Зеленов
          </td>
          <td>
            Евсей
          </td>
          <td>
            ул. Веселова, д. 76, кв. 5
          </td>
          <td>
            ZelenovEvsey
          </td>
        </tr>
        <tr>
          <td class="numbers">
            4
          </td>
          <td>
            Тарский
          </td>
          <td>
            Адриан
          </td>
          <td>
            ул. Байкальская, д. 3, кв. 275
          </td>
          <td>
            Andriyan
          </td>
        </tr>
        <tr>
          <td class="numbers">
            5
          </td>
          <td>
            Лобанова
          </td>
          <td>
            Инна
          </td>
          <td>
            ул. Бадюлина, д. 21, кв. 36
          </td>
          <td>
            LobanovaInna
          </td>
        </tr>
        <tr>
          <td class="numbers">
            6
          </td>
          <td>
            Прокофьев
          </td>
          <td>
            Руслан
          </td>
          <td>
            ул. Молодёжная, д. 6, кв. 25
          </td>
          <td>
            ProkofevRuslan
          </td>
        </tr>
        <tr>
          <td class="numbers">
            7
          </td>
          <td>
            Тимофеева
          </td>
          <td>
            Алла
          </td>
          <td>
            ул. Базовая, д. 9, кв. 20
          </td>
          <td>
            TimofeevaAlla
          </td>
        </tr>
        <tr>
          <td class="numbers">
            8
          </td>
          <td>
            Фомин
          </td>
          <td>
            Иван
          </td>
          <td>
            ул. Бакунинская, д. 80, кв. 96
          </td>
          <td>
            FominIvan
          </td>
        </tr>
        <tr>
          <td class="numbers">
            9
          </td>
          <td>
            Киселёв
          </td>
          <td>
            Сидор
          </td>
          <td>
            ул. Садовая, д. 36, кв. 72
          </td>
          <td>
            KiselevSidor
          </td>
        </tr>
        <tr>
          <td class="numbers">
            10
          </td>
          <td>
            Марков
          </td>
          <td>
            Олимпий
          </td>
          <td>
            ул. Пушкина, д. 57, кв. 137
          </td>
          <td>
            MarkovOlimpiy
          </td>
        </tr>
        
        </tbody>
      </table>
		</div>
        </div>
      </div>
    </div>





    </div>


    <nav class="container">
    <ul class="pager">
      <li class="previous"><a href="{% url 'index' %}"><span aria-hidden="true">&larr;</span>Main</a></li>
      
    </ul>
    </nav>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
