{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Add{% endblock title %}


{% block index_is_active %}active{% endblock index_is_active %}


{% block carousel %}{% endblock carousel %}


{% block content %}
	<div class="container students">
  	<div class="page-header">
      <h1 class="descr">Создание нового занятия</h1>
			<div class="jumbotron">
				{{ title }}
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Создать" class="btn btn-primary"/>
				</form>
      </div>
    </div>
  </div>
{% endblock content %}
