{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ course.name }} course{% endblock title %}


{% block link_to_st %}?course_id={{ course.id }}{% endblock link_to_st %}


{% block carousel %}{% endblock carousel %}


{% block content %}

  <div class="container students">
    <div class="page-header">
      {% include "students/include/messages_include.html" %}
      <h1 class="descr">{{ course.name }}</h1>
      <div class="jumbotron">
        <h3>{{ course.description|truncatechars:32 }}</h3>
      </div>
 		  <hr>
		  <h1 class="descr">Преподаватели</h1>
		  <hr>

{% if course.coach %}
{% include "courses/include/about_include.html" with block_title="Учитель" instructor=course.coach %}
{% endif %}


{% if course.assistant %}
{% include "courses/include/about_include.html" with block_title="Ассистент" instructor=course.assistant %}
{% endif %}

			<hr>
			<h1 class="descr">План курса</h1>
			<hr>
			<div class="jumbotron">
        <p>
				<a class="btn btn-primary btn-lg" href="{% url 'courses:add-lesson' course.id %}" role="button"><span class="glyphicon glyphicon-plus"></span> Добавить занятие</a>
				</p>
				<div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- Table -->
		      <table class="table">
		        <thead>
		          <tr>
								<th>#</th>
				        <th>Тема</th>
				        <th>Описание</th>
		          </tr>
		        </thead>
		        <tbody>
							{% for course in course.lesson_set.all %}
		          <tr>
		            <td>{{ course.order }}</td>
								<td>{{ course.subject }}</td>
								<td>{{ course.description|linebreaksbr }}</td>
							</tr>
							{% endfor %}

		        </tbody>
		      </table>
				</div>
				<div class="text-center">
					<!-- <a class="btn btn-lg btn-primary" href="#" role="button">Записаться</a> -->
				</div>
      </div>

		</div>
	</div>
{% endblock content %}
