<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Python course</title>
	{% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

    <!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="container">
            <ul class="nav navbar-nav">
              <li><a class="top_bar" href="{% url 'index' %}">Main</a></li>
              <li><a class="top_bar" href="{% url 'contact' %}">Contacts</a></li>
              <li><a class="top_bar" href="{% url 'students:list_view' %}">Students</a></li>
			  <li><a class="top_bar" href="{% url 'calculate' %}">Equation</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    </div>  

      
	<div class="container students">
      <div class="page-header">
      	<h1 class="top1">{{ coach.first_name }} {{ coach.last_name }}</h1>
		<div class="jumbotron">

			<div class="panel panel-default">
                  <!-- Default panel contents -->
                  
                  <!-- Table -->
                  <table class="table">
                    
                    <tbody>
					
                    
                    <tr>
                    <td>Дата рождения</td><td>{{ coach.date_of_birth }}</td>
					</tr>
					<tr>
					<tr>
					<td>Адрес</td><td>{{ coach.address }}</td>
					</tr>
					<tr>
					<td>Почта</td><td>{{ coach.user.email }}</td>
					</tr>
					<tr>
					<td>Skype</td><td>{{ coach.skype }}</td>
					</tr>
					<tr>
					<td>Телефон</td><td>{{ coach.phone }}</td>
					</tr>
					
					<tr>
					<td>Преподаватель на курсах</td>
					<td>{% for i in course %}
					<a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a> 						студенты курса 
					<a class="top_bar" href="{% url 'students:list_view' %}?course_id={{ i.id }}">
					<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
					</a>
					<br>{%endfor%}</td>
					
					</tr>
					<tr>
					<td>Ассистент на курсах</td><td>{% for k in assist %}
					<a href="{% url 'courses:detail' k.id %}">{{ k.name }}</a> 						студенты курса 
					<a class="top_bar" href="{% url 'students:list_view' %}?course_id={{ k.id }}">
					<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
					</a>
					<br>{%endfor%}</td>
					
					</tr>
					
                    </tbody>
                  </table>

          </div>
        </div>

      </div>

    </div>    
    
    <nav class="container">
    <ul class="pager">
      <li class="previous"><a href="{% url 'contact' %}"><span aria-hidden="true">&larr;</span>Сontacts</a></li>
      
    </ul>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
