{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ coach.first_name }} {{ coach.last_name }}{% endblock title %}


{% block carousel %}{% endblock carousel %}


{% block content %}

	<div class="container students">
    <div class="page-header">
      <h1 class="top1">{{ coach.first_name }} {{ coach.last_name }}</h1>
			<div class="jumbotron">
				<div class="coach_img">
					{% if coach.gender == "M" %}
					<img src="{% static 'images/top2.png' %}" alt="..." class="img-circle">
					{% else %}
					<img src="{% static 'images/top1.png' %}" alt="..." class="img-circle">
          {% endif %}
				</div>
				<div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- Table -->
          <table class="table">
            <tbody>
							<tr>
                <td>Дата рождения</td><td>{{ coach.date_of_birth|date:"d F, Y" }}</td>
							</tr>
							<tr>
								<td>Адрес</td><td>{{ coach.address }}</td>
							</tr>
							<tr>
								<td>Почта</td><td>{{ coach.user.email }}</td>
							</tr>
							<tr>
								<td>Skype</td><td>{{ coach.skype }}</td>
							</tr>
							<tr>
								<td>Телефон</td><td>{{ coach.phone }}</td>
							</tr>
							<tr>


              {% include "coaches/include/coach_include.html" with block_title="Преподаватель на курсах" course=course %}


							</tr>
							<tr>


              {% include "coaches/include/coach_include.html" with block_title="Асистент на курсах" course=assist %}


							</tr>
						</tbody>
          </table>
				</div>
      </div>
		</div>
	</div>
{% endblock content %}
