{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ coach.first_name }} {{ coach.last_name }}{% endblock title %}


{% block carousel %}{% endblock carousel %}


{% block content %} 
     
	<div class="container students">
    <div class="page-header">
      <h1 class="top1">{{ coach.first_name }} {{ coach.last_name }}</h1>
			<div class="jumbotron">
				<div class="coach_img">
					{% if coach.gender == "M"  %}
					<img src="{% static 'images/top2.png' %}" alt="..." class="img-circle">
					{% else %}
					<img src="{% static 'images/top1.png' %}" alt="..." class="img-circle">	{% endif %}
				</div>
				<div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- Table -->
          <table class="table">
            <tbody>
							<tr>
                <td>Дата рождения</td><td>{{ coach.date_of_birth }}</td>
							</tr>
							<tr>
								<td>Адрес</td><td>{{ coach.address }}</td>
							</tr>
							<tr>
								<td>Почта</td><td>{{ coach.user.email }}</td>
							</tr>
							<tr>
								<td>Skype</td><td>{{ coach.skype }}</td>
							</tr>
							<tr>
								<td>Телефон</td><td>{{ coach.phone }}</td>
							</tr>
							<tr>
								<td>Преподаватель на курсах</td>
								<td>
								{% for i in course %}
								<a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a>
								студенты курса 
								<a href="{% url 'students:list_view' %}?course_id={{ i.id }}">
								<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
								</a><br>
								{% endfor %}
								</td>
							</tr>
							<tr>
								<td>Ассистент на курсах</td>
								<td>
								{% for k in assist %}
								<a href="{% url 'courses:detail' k.id %}">{{ k.name }}</a>
		 						студенты курса 
								<a href="{% url 'students:list_view' %}?course_id={{ k.id }}">
								<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
								</a><br>
								{% endfor %}
								</td>
							</tr>
						</tbody>
          </table>
				</div>
      </div>
		</div>
	</div>    
{% endblock content %}
